<div>
  <h1>
      Hora do sorteio
  </h1>
  <div>
    <button type="button" class="btn btn-primary" (click)="change()">{{sortType}}</button>
  </div>
  <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
          <label for="exampleInputPassword1">Name</label>
          <input type="text" class="form-control" formControlName="name" id="exampleInputPassword1">
      </div>
      <div class="form-group" style="margin-bottom: 10px;">
        <label for="exampleInputEmail1">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" formControlName="email" form aria-describedby="emailHelp">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <button type="submit" class="btn btn-primary" style="margin-right: 10px;">Submit</button>
      <button type="button" class="btn btn-primary" (click)="makeSortition()">sortear</button>
    </form>
    <button type="button" class="btn btn-primary" style="margin-top: 10px; width: 57%;" (click)="cleanStorage()">Limpar lista</button>
    <div *ngIf="showQuantityError == true">quantidade de pessoas invalidas</div>
    <div *ngIf="showEmptyError == true">nome e email necessarios</div>
    <div *ngFor="let person of people">
      <span>{{person._name}}</span>
    </div>
</div>
